
.background {
    --background: url('../../../assets/images/fondo-gradient.jpg') 0 0/100%;
    --padding-top: 12vh;
    --padding-bottom: 10vh;
    --font-family: Inconsolata !important;
}


.message {
    --color: #ffffff;

}

.link-login {
    font-size: 1.2rem;
}


.alert__image {
    width: 15rem;
}

.obama_gif {
    width: 40rem;
}