
.es-button__language, .en-button__language {
    --background: var(--ion-color-tertiary);
}

.header__logo {
    width: 3rem;
}

.header__title {
    font-size: 1.5rem;
    color: #615f5f;
}

.logout-button {
    width: 2rem;
    cursor: pointer;
    margin-right: 10px;
}

.logout-button:active {
    transform: scale(0.95);

}

.dashborad-content-background {
    --background: url('../../assets/images/fondo-gradient.jpg') 0 0/100%;
    --font-family: Inconsolata !important;
}

.progress__title, .progress__percentage {
    font-size: 1.25rem;
}

.progress-bar {
    height: 25px;
    width: 42%;
    --background: #d451d44a;
}

.lesson-list__container {
    height: calc(100vh - 225px);
}



.chat__container {
    height: calc(100vh - 225px);
    /* display: flex;
    align-items: ; */
}


.send-message__container {
    bottom: 0;
    position: absolute;
    width: 100%;
    border-top: 1px solid #dfdcdc;
}