.es-button__language, .en-button__language {
    --background: var(--ion-color-tertiary);
}

.header__logo {
    width: 3rem;
    cursor: pointer;
}

.header__title {
    font-size: 1.5rem;
    color: #615f5f;
}

.logout-button {
    width: 2rem;
    cursor: pointer;
    margin-right: 10px;
}

.logout-button:active {
    transform: scale(0.95);

}

.workarea-light-content-background {
    --background: url('../../assets/images/background-light-mode.jpg') 40%;
    --font-family: Inconsolata !important;
}

.workarea-dark-content-background {
    --background: url('../../assets/images/background-dark-mode.jpg') 10%;
    --font-family: Inconsolata !important;
}

.chat__fab {
    margin-right: 15px;
    margin-bottom: 45px;
}

.chat-fab-list__header {
    opacity: 0.7;
    color: #ffffff;
}

.social-media__fab {
    margin-right: 15px;
}

.modal__container {
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.70);
    --height: 80vh;
}

.modal__grid {
    width: 100%;
}

.modal-chat__container {
    height: 100%;
}

.send-message__container {
    width: 100%;
    border-top: 1px solid #dfdcdc;
}

@media (max-width: 650px) {
    .header__title {
        display: none;
    }
}