
.landing__container {
    height: 100%;
}

.language-dropdown__container {
    margin: 16px 16px 0px 16px;
    border-bottom: 1px solid #cac8c8;
}

.theme-dropdown__container {
    margin: 0px 16px;
}