

.lesson-avatar {
    background: var(--ion-color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color : #ffffff;
    width: 2rem;
    height: 2rem;
}

.lesson-avatar-done {
    background: var(--ion-color-success);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color : #ffffff;
    width: 2rem;
    height: 2rem;
}

.lesson__container {
    cursor: pointer;
}

.lesson__container-opaque {
    opacity: 0.5;
    cursor: not-allowed;
}