
.es-button__language, .en-button__language {
    --background: var(--ion-color-tertiary);
}

.registered-message {
    --color: #ffffff;
}

.content-background {
    --background: url('../../../assets/images/fondo-gradient.jpg') 0 0/100%;
    --padding-top: 10vh;
    --padding-bottom: 10vh;
    --font-family: Inconsolata !important;
}


.header__logo {
    width: 3rem;
}

.header__title {
    font-size: 1.5rem;
    color: #615f5f;
}

.register-user__logo{
    width: 6rem;
}


.register__button {
    --background: var(--ion-color-secondary);
    --color: #ffffff;
}