

.output-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    display: block;
}

.output-content-style {
    color: #ca6e6e;
    font-size: 1.5rem;
    font-weight: 700;
    height: 200px;
    background-color: #1b2b34;
    margin-right: 16px;
    padding-left: 20px;
    margin-left: 16px;
    overflow-y: scroll;
}